<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>
          <small>
            <%= time_ago_in_words(@photo.created_at) %>
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%= @photo.id %>">
          <img src="<%= @photo.image %>" class="img-responsive">
        </a>
        
        <ul class="media-list">

          <% Comment.where(:photo_id => @photo.id).each do |comment| %>
          <% @user = User.find(comment.user_id) %></li>
          <li><a href="/users/<%= comment.user_id %>"><%= @user.username %></a> <%= comment.body %></li>

          <% end %>

          

        </ul>  




        
      </div>
    </div>
  </div>
</div>